# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Jupyter / data
.ipynb_checkpoints/
*.csv
export/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files (keep example only)
.env
